<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="normalize.css">
	<link rel="stylesheet" type="text/css" href="skeleton.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script>
		$(document).ready(function(){
			var socket = io.connect();
			var name = prompt('What is your name?');
			var all_messages = '';

			if (name === '' || name === null) 
			{
				name = "User" + Math.floor(Math.random()*100)+1;
			}

			socket.emit("got_new_user", name);

			socket.on('all_users', function (data) {
				var everyone = '';

				for(y in data)
				{
					everyone += data[y] + '<br>';
				}

				var last = data[data.length-1];
				// all_messages += "<span class='user'>" + last + " has entered the chatroom.<br></span>"
				var message = "<span class='user'>" + last + " has entered the chatroom.<br></span>"

				$('#users').html(everyone);
				// $('#messages').html(all_messages);
				$('#messages').append(message);
			})

			socket.on('all_chat', function (data) {

				// for(x in data) 
				// {
					// all_messages += "<span class='user'>" + data[x][0] + ": </span>" + "<span>" + data[x][1] + "</span>" + '<br>';
					var message = "<span class='user'>" + data[data.length-1][0] + ": </span>" + "<span>" + data[data.length-1][1] + "</span>" + '<br>'
				// }

				$('#messages').append(message);
				// $('#messages').html(all_messages);
				// all_messages = '';
				window.setInterval(function() {
					var elem = document.getElementById('messages');
					elem.scrollTop = elem.scrollHeight;
				}, 20);
			});

			$('form').on('submit', function() {
				socket.emit('user_message_name', [name, $(this).serialize()]);
				$('textarea').val('');
				return false;
			});

		});
	</script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="twelve columns">
				<h3>Welcome to Chatter</h3>
			</div>
		</div>
		<div class="row content">
			<div class="twelve columns">
				<div class="six columns" id='messages'>
				</div>
				<div class="six columns" id='users'>
				</div>
			</div>
		</div>
		<div class="row content">
			<form method='post'>
				<textarea placeholder='Enter your message here' cols='82' name='message'></textarea>
				<input type='submit' value='Send'>
			</form>
		</div>
	</div>
</body>
</html>